.side-bar {
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
    height: 100vh;
    overflow: scroll;
    margin-left: -12px;

}

.side-bar::-webkit-scrollbar {
    display: none;
}